<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=Config::get('site_name')?></title>

    <link rel="stylesheet" href="/../../webroot/css/carousel.css">

    <link rel="stylesheet" href="../../webroot/css/bootstrap.css">

    <link rel="stylesheet" href="/../../webroot/css/mainpage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="../../webroot/js/carousel.js"></script>

    <!-- Скрипт, привязывающий событие click, открывающее модальное окно, к элементам, имеющим класс .btn -->
    <script src="/../webroot/js/modal.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
<h3>АдМин ли ты?</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

            <form method="post" action="/login/admin_index/">

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <input type="submit" class="btn btn-success">

            </form>

        </div>
    </div>
</div>

</body>
</html>