<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Contacts</h3>
    <form action="" method="post">
        <input type="text" class="form-control" name="name" placeholder="Your Name"><br>
        <input type="text" class="form-control" name="email" placeholder="Your E-mail"><br>
        <textarea name="message" class="form-control" placeholder="Your Message"></textarea><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    </form>
</body>
</html>